
<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <title>Login/Registration</title>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        {% load humanize %}
    </head>
    <body>
        <div class="Container">
            <a href="/logout" style="align-text:right"><h5>Logout</h5></a>
            <h3>Welcome {{user.first_name}} {{user.last_name}}</h3>
            <div class="flashes">
                {% if messages %}
                <ul class="list-group">
                    {% for msg in messages %}
                    <li>{{ msg }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <form class="" action="/createsecret" method="POST">
                    {% csrf_token %}
                <textarea name="secret" rows="8" cols="80"></textarea>
                <input type="submit" name="submit" value="Post">
            </form>
            <a href="/popular">Most Popular Secrets</a>
            <h2>Recent Secrets...</h2>
            {%for secret in secret%}
            <p><b>{{secret.content}}</b>  &nbsp  &nbsp <i>-{{secret.created_at |naturaltime}}</i></p>
            <p> {{secret.num_like}} of people like this.</p>
                {% if secret.creator.id == user.id%}
                You Posted this. <a href="/delete/{{secret.id}}">Delete</a>
                {%elif user in secret.likes.all%}
                <p style="color:blue">You Liked this.</p>
                {%else %}
                <a href="/like/{{secret.id}}">Like</a>
                {%endif%}
            {%endfor%}
        </div>
    </body>
</html>
